@model DPTS.Web.Models.DoctorReviewOverviewModel
@using System.Globalization
@{
    int ratingPercent = 0;
    if (Model.TotalReviews != 0)
    {
        ratingPercent = ((Model.RatingSum * 100) / Model.TotalReviews) / 5;
    }
}
<style>
 
</style>
@if (Model.AllowPatientReviews)
{
    <div class="product-reviews-overview" @if (Model.TotalReviews > 0) { <text> itemprop="aggregateRating" itemscope itemtype="http://schema.org/AggregateRating" </text> }>
        <div class="product-review-box">
            <div class="rating">
                <div style="width: @(ratingPercent)%">
                </div>
            </div>
        </div>

        @if (Model.TotalReviews > 0)
        {
            <div class="product-review-links">
                <a href="@Url.Action("DoctorReviews","Doctor", new { doctorId = Model.DoctorId })">
                    @Model.TotalReviews
                Reviews(S)
            </a> <span class="separator">|</span> <a href="@Url.Action("DoctorReviews","Doctor", new { doctorId = Model.DoctorId })">Add your review</a>
        </div>
            @*hidden microdata info*@
        decimal ratingValue = ratingPercent / (decimal)20;
        <span itemprop="ratingValue" style="display: none;">@ratingValue.ToString("0.0", new CultureInfo("en-US"))</span>
            <span itemprop="reviewCount" style="display: none;">@Model.TotalReviews</span>
        }
        else
        {
            <div class="product-no-reviews">
                <a href="@Url.Action("DoctorReviews", "Doctor", new {doctorId = Model.DoctorId})">Be the first to review this doctor</a>
            </div>
        }
    </div>
}