@model DPTS.Web.Models.DoctorReviewOverviewModel
@using System.Globalization
@{
    int ratingPercent = 0;
    if (Model.TotalReviews != 0)
    {
        ratingPercent = ((Model.RatingSum * 100) / Model.TotalReviews) / 5;
    }
}
<style>
    .product-reviews-overview {
    margin: 0 0 25px;
    color: #444; 
}
    .product-review-box {
    display: inline-block;
    margin: 0 0 8px;
}
    .product-review-box .rating {
    width: 95px;
    height: 14px;
    background: url(https://signaturethings.com/Themes/SignatureThings/Content/images/rating1.png) repeat-x;
}
    .product-review-box .rating div {
    height: 14px;
    background: url(https://signaturethings.com/Themes/SignatureThings/Content/images/rating2.png) repeat-x;
}
</style>
@if (Model.AllowPatientReviews)
{
    <div class="product-reviews-overview" @if (Model.TotalReviews > 0) { <text> itemprop="aggregateRating" itemscope itemtype="http://schema.org/AggregateRating" </text> }>
        <div class="product-review-box">
            <div class="rating">
                <div style="width: @(ratingPercent)%">
                </div>
            </div>
        </div>

        @if (Model.TotalReviews > 0)
        {
            <div class="product-review-links">
                <a href="@Url.RouteUrl("DoctorReviews", new { doctorId = Model.DoctorId })">
                    @Model.TotalReviews
                Reviews.Overview.Reviews
            </a> <span class="separator">|</span> <a href="@Url.RouteUrl("DoctorReviews", new { doctorId = Model.DoctorId })">Reviews.Overview.AddNew</a>
        </div>
            @*hidden microdata info*@
        decimal ratingValue = ratingPercent / (decimal)20;
        <span itemprop="ratingValue" style="display: none;">@ratingValue.ToString("0.0", new CultureInfo("en-US"))</span>
            <span itemprop="reviewCount" style="display: none;">@Model.TotalReviews</span>
        }
        else
        {
            <div class="product-no-reviews">
                <a href="@Url.Action("DoctorReviews", "Doctor", new {doctorId = Model.DoctorId})">Reviews.Overview.First</a>
            </div>
        }
    </div>
}