@model DoctorViewModel
@using DPTS.Web.Models;
@using DPTS.Domain.Entities;
@using DPTS.Web.Helpers
@{
    ViewBag.Title = "DoctorDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string addressLine = string.Empty;
    Address addr = Model.Addresses.FirstOrDefault();

    ContactUsViewModel ContactModel = new ContactUsViewModel
    {
        DocEmail = Model.doctor.AspNetUser.Email
    };

    Html.Assets().Styles.Add("/Content/wp-content/themes/docdirect/css/prettyPhoto1bba.css");
    Html.Assets().Styles.Add("/Content/wp-content/themes/docdirect/css/owl.theme1bba.css");
    Html.Assets().Styles.Add("/Content/kendo/2017.1.118/kendo.common-material.min.css");
    Html.Assets().Styles.Add("/Content/kendo/2017.1.118/kendo.material.min.css");
    Html.Assets().Styles.Add("/Content/kendo/2017.1.118/kendo.material.mobile.min.css");

    Html.Assets().Scripts.Add("https://maps.googleapis.com/maps/api/js?key=AIzaSyB-v7mDZ8e1GDluhDZrhF_T44GxlJprqr0&#038;libraries=places&#038;ver=4.7.2");
    Html.Assets().Scripts.Add("/Content/wp-content/themes/docdirect/js/map/markerclusterer.min1bba.js");
    Html.Assets().Scripts.Add("/Content/wp-content/themes/docdirect/js/map/infobox1bba.js");
    Html.Assets().Scripts.Add("/Content/wp-content/themes/docdirect/js/gmap3.min1c9b.js");
    Html.Assets().Scripts.Add("/Content/wp-content/themes/docdirect/js/map/map1bba.js");
    Html.Assets().Scripts.Add("/Content/wp-content/themes/docdirect/js/docdir_maps1c9b.js");

    //Html.Assets().Scripts.Add("/Scripts/kendo/2017.1.118/jquery.min.js");
    <script src="~/Scripts/kendo/2017.1.118/kendo.all.min.js"></script>
    <script src="~/Content/wp-content/themes/docdirect/js/owl.carousel1bba.js"></script>

    if (addr != null)
    {
        addressLine = addr.Address1 + ", " + addr.City + ", " + addr.StateProvince.Name + ", " + addr.Country.Name;
    }
}  
<main id="main" class="tg-page-wrapper tg-haslayout">
    <div id="tg-userbanner" class="tg-userbanner tg-haslayout parallax-window" data-appear-top-offset="600" data-parallax="scroll" data-image-src="">
    </div>
    <div class="container">
        <div class="row">
            <div class="tg-userdetail appointment-enabled">
                <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                    <aside id="tg-sidebar" class="tg-sidebar">
                        <div class="tg-widget tg-widgetuserdetail">
                            <figure class="tg-userimg">
                                @if (!string.IsNullOrWhiteSpace(Model.AddPictureModel.ImageUrl))
                                {
                                    <img src="@Model.AddPictureModel.ImageUrl" alt="">
                                }
                                else
                                {
                                    <img src="~/Content/wp-content/themes/docdirect/images/user365x365.jpg" alt="">
                                }

                            </figure>
                            <div class="tg-usercontactinfo">
                                <h3>Contact Details</h3>
                                @{

                                    if (addr != null)
                                    {
                                        <ul class="tg-doccontactinfo">
                                            <li> <i class="fa fa-map-marker"></i> <address>@addressLine</address> </li>
                                            @if (!string.IsNullOrWhiteSpace(Model.Email))
                                            {
                                                <li><i class="fa fa-envelope-o"></i><a href="#">@Model.Email</a></li>
                                            }
                                            @if (!string.IsNullOrWhiteSpace(Model.MobileNumber))
                                            {
                                                <li> <i class="fa fa-phone"></i> <span>@Model.MobileNumber</span> </li>
                                            }
                                            @if (!string.IsNullOrWhiteSpace(addr.FaxNumber))
                                            {
                                                <li><i class="fa fa-fax"></i><span>@addr.FaxNumber</span></li>
                                            }
                                            @if (!string.IsNullOrWhiteSpace(addr.Website))
                                            {
                                                <li><i class="fa fa-link"></i><a href="@addr.Website" target="_blank">@addr.Website</a></li>
                                            }
                                        </ul>
                                    }
                                }
                                <ul class="tg-socialicon-v2">

                                    @if (Model.doctor.SocialLinkInformation.Any())
                                    {
                                        foreach (var item in Model.doctor.SocialLinkInformation)
                                        {
                                            if (item.SocialType.Equals("Google Plus"))
                                            {
                                                <li class="tg-googleplus"><a href="@item.SocialLink"><i class="fa fa-google-plus"></i></a></li>
                                            }
                                            else
                                            {
                                                <li class="tg-@item.SocialType.ToLower().Trim()"><a href="@item.SocialLink"><i class="fa fa-@item.SocialType.ToLower().Trim()"></i></a></li>

                                            }
                                        }
                                    }
                                </ul>
                                @if (addr != null)
                                {
                                    <a class="tg-btn tg-btn-lg" href="http://maps.google.com/maps?saddr=&amp;daddr=@addr.Address1, @addr.City, @addr.StateProvince.Name, @addr.ZipPostalCode" target="_blank">get directions</a>
                                }
                                <div class="tg-userschedule">
                                    <h3>Schedule</h3>
                                    <ul>
                                        @if (Model.Schedule.Any())
                                        {
                                            foreach (var sch in Model.Schedule)
                                            {
                                                var startTime = DateTime.Parse(sch.StartTime).ToString("hh:mm tt");
                                                var endTime = DateTime.Parse(sch.EndTime).ToString("hh:mm tt");
                                                string todayDay = DateTime.UtcNow.ToString("dddd");
                                                if (sch.Day.Equals(todayDay))
                                                {
                                                    <li class="current"><a href="javascript:;" data-type="@startTime - @endTime"><span>@sch.Day</span><em>@startTime - @endTime</em></a></li>
                                                }
                                                else
                                                {
                                                    <li class=""><a href="javascript:;" data-type="@startTime - @endTime"><span>@sch.Day</span><em>@startTime - @endTime</em></a></li>
                                                }
                                            }
                                        }
                                        else
                                        {
                                            <li>
                                                <p>No Schedule !!</p>
                                            </li>
                                        }
                                    </ul>
                                </div>
                                @Html.Partial("_DocContactUs",ContactModel)
                                <div class="tg-userschedule">
                                    <h3>Profile Url</h3>
                                    <div id="qrUrl"></div>
                                    </div>
                                </div>
                    </aside>
                </div>
                <div class="col-lg-9 col-md-8 col-sm-8 col-xs-12">
                    <div class="tg-haslayout">
                        <div class="tg-userbanner-content">
                            <h1>Dr @Model.FirstName @Model.LastName</h1>
                            <span>Doctor</span>
                            @if (Model.Schedule.Any())
                            {
                                <a class="tg-btn tg-btn-lg make-appointment-btn" href="@Url.Action("Booking", "Appointment", new RouteValueDictionary(new {doctorId = Model.Id}))">MAKE AN APPOINTMENT!</a>
                            }
                        </div>
                        @if (addr != null)
                        {
                            <div class="tg-section-map">
                                <div id="map_canvas" class="tg-location-map tg-haslayout"></div>
                                <div class="map-controls">
                                    <span id="doc-mapplus"><i class="fa fa-plus"></i></span>
                                    <span id="doc-mapminus"><i class="fa fa-minus"></i></span>
                                    <span id="doc-lock"><i class="fa fa-lock"></i></span>
                                </div>
                                <script>
				            jQuery(document).ready(function() {
				                docdirect_init_detail_map_script({
				                    "status": "found",
				                    "users_list": [{
				                        "latitude": "@addr.Latitude", "longitude": "@addr.Longitude", "title": "Dr.@Model.FirstName", "name": "Dr @Model.FirstName", "email": "@Model.Email", "phone_number": "@Model.MobileNumber",
				                        "address": "@addressLine",
				                        "group": "",
				                        "icon": "\/\/themographics.com\/wordpress\/docdirect\/wp-content\/uploads\/2016\/04\/02.png",
				                        "html": { "content": "<div class=\"tg-mapmarker\"><figure><img width=\"60\" heigt=\"60\" src=\"/Content/wp-content/themes/docdirect/images/user150x150.jpg\" alt=\"User\"><\/figure><div class=\"tg-mapmarkercontent\"><h3><a href=\"https:\/\/themographics.com\/wordpress\/docdirect\/doctor\/anna\/\">Dr @Model.FirstName @Model.LastName<\/a><\/h3> <hr/><span>@addressLine<\/span><\/div>" }
				                    }]
				                });
				            });
                                </script>
                            </div>
                        }

                            <div class="tg-aboutuser">
                                <div class="tg-userheading">
                                    <h2>About&nbsp;Dr @Model.FirstName</h2>

                                </div>
                                @if (!string.IsNullOrWhiteSpace(Model.doctor.ShortProfile))
                                {
                                    <div class="tg-description">
                                        <p>@Model.doctor.ShortProfile</p>
                                    </div>
                                }

                                @if (!string.IsNullOrWhiteSpace(Model.doctor.ProfessionalStatements))
                                {
                                    <div class="professional-statements">
                                        @Html.Raw(HttpUtility.HtmlDecode(Model.doctor.ProfessionalStatements))
                                    </div>
                                }

                            </div>
                            <!--Languages-->
                            @if (!string.IsNullOrWhiteSpace(Model.doctor.Language))
                            {
                                string[] lgs = Model.doctor.Language.Split(new char[] { ',', ' ' }, StringSplitOptions.RemoveEmptyEntries);

                                <div class="tg-honourawards tg-listview-v3 user-section-style">
                                    <div class="tg-userheading">
                                        <h2>Languages</h2>
                                    </div>
                                    <div class="tg-doctor-profile">
                                        <ul class="tg-tags">
                                            @foreach (var lg in lgs)
                                            {
                                                <li><a href="javascript:;" class="tg-btn">@lg</a></li>
                                            }
                                        </ul>
                                    </div>
                                </div>
                            }
                            <!--Specialities-->
                            @if (Model.Specialitys.Any())
                            {
                                <div class="tg-honourawards tg-listview-v3 user-section-style">
                                    <div class="tg-userheading">
                                        <h2>Specialties</h2>
                                    </div>
                                    <div class="tg-doctor-profile">
                                        <ul class="tg-tags">
                                            @foreach (var sp in Model.Specialitys)
                {
                                                <li><a href="javascript:;" class="tg-btn">@sp.Title</a></li>
                                            }
                                        </ul>

                                    </div>
                                </div>
                            }
                            <!--Experience-->
                            @if (Model.doctor.Experience.Any())
                            {
                                <div class="tg-userexperience">
                                    <div class="tg-userheading">
                                        <h2><i class="fa fa-briefcase"></i>Experience</h2>
                                    </div>
                                    <ul>
                                        @foreach (var expr in Model.doctor.Experience)
                                        {
                                            <li>
                                                <div class="tg-dotstyletitle">
                                                    <h3>@expr.Title&nbsp;&nbsp;(@expr.StartDate.ToString("MMMM, yyyy")&nbsp;-&nbsp;@expr.EndDate.ToString("MMMM, yyyy"))</h3>
                                                    <span>@expr.Organization</span>
                                                </div>
                                                <div class="tg-description">
                                                    <p>@expr.Description</p>
                                                </div>
                                            </li>
                                        }
                                    </ul>
                                </div>
                            }

                            <!--Education-->
                            @if (Model.doctor.Education.Any())
                            {
                                <div class="tg-userexperience tg-userqualification">
                                    <div class="tg-userheading">
                                        <h2><i class="fa fa-graduation-cap"></i>Education</h2>
                                    </div>
                                    <ul>
                                        @foreach (var edu in Model.doctor.Education)
                                        {
                                            <li>
                                                <div class="tg-dotstyletitle">
                                                    <h3>
                                                        @edu.Title<strong>&nbsp;&nbsp;</strong>(@edu.StartDate.ToString("MMMM, yyyyy") &nbsp;-&nbsp;@edu.EndDate.ToString("MMMM, yyyyy"))
                                                    </h3>
                                                    <span>@edu.Institute</span>
                                                </div>
                                                <div class="tg-description">
                                                    <p>
                                                        @edu.Description
                                                    </p>
                                                </div>
                                            </li>
                                        }
                                    </ul>
                                </div>
                            }


                            <!--Awards-->
                            @if (Model.doctor.HonorsAwards.Any())
                            {
                                <div class="tg-userexperience tg-honourawards">
                                    <div class="tg-userheading">
                                        <h2>
                                            <i class="fa fa-trophy"></i>Honours &amp; Awards
                                        </h2>
                                    </div>
                                    <ul>
                                        @foreach (var awd in Model.doctor.HonorsAwards)
                                         {
                                            <li>
                                                <div class="tg-dotstyletitle">
                                                    <h3>@awd.Name &nbsp;&nbsp;(@awd.AwardDate.ToString("MMMM, yyyy"))</h3>
                                                </div>
                                                <div class="tg-description">
                                                    <p>
                                                        @awd.AwardDate
                                                    </p>
                                                </div>
                                            </li>
                                        }

                                    </ul>
                                </div>
                            }
                            <!--Video URL-->
                            @if (!string.IsNullOrWhiteSpace(Model.doctor.VideoLink))
                            {
                                <div class="tg-presentationvideo">
                                    <div class="tg-userheading">
                                        <h2>Presentation Video</h2>
                                    </div>
                                    <div class="video"><iframe width="368" height="200" src="@Model.doctor.VideoLink" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe></div>
                                </div>
                            }
                         @if (Model.DoctorPictureModels.Any() && Model.DoctorPictureModels != null)
                         {
                            <div class="tg-userphotogallery">
                                <div class="tg-userheading">
                                    <h2>Photo Gallery</h2>
                                </div>
                                <ul>
                                    @foreach (var pic in Model.DoctorPictureModels)
                                    {
                                        <li>
                                            <figure>
                                                <a href="@pic.FullSizeImageUrl" data-rel="prettyPhoto[iframe]" rel="prettyPhoto[iframe]">
                                                    <img src="@pic.ImageUrl" alt="img-10" width="150" height="150">
                                                    <figcaption><span class="icon-add"></span></figcaption>
                                                </a>
                                            </figure>
                                        </li>
                                    }
                                </ul>
                            </div>
                         }
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<script src="~/Content/wp-content/themes/docdirect/js/prettyPhoto1bba.js"></script>
<script>
    $(function () {
        var url = window.location.origin + "@Url.Action("DoctorDetails", "Doctor",new { doctorId = Model.Id})";
        $("#qrUrl").kendoQRCode({
            value: url,
            errorCorrection: "M",
            size: 120,
            color: "#67a814",   
            border: {
                color: "#67a814",
                width: 5
            }
        });

    });

    function SaveReviewComments() {
        var form = $("#ReviewComment").serialize();
        $.ajax({
            url: '/Doctor/SaveReivewComment',
            type: 'POST',
            data: form,
            success: function (data) {
                debugger;
                if (data == "Success") {
                    alertify.success("Thank you for rating...");
                    //window.location.reload();
                    //window.location.reload();
                    window.setTimeout(function () { location.reload() }, 1000)

                }
                else if (data == "Error") {
                    alertify.success("Error... Please try again.");
                    //window.location.reload();
                    //window.location.reload();
                    window.setTimeout(function () { location.reload() }, 1000)

                }
            }
        });
    };
    /*--------------------------------------
			DOCTOR'S GALLERY
	--------------------------------------*/
    $("#tg-photosgallery").owlCarousel({
        autoPlay: true,
        items: 3,
        itemsDesktop: [1199, 3],
        itemsDesktopSmall: [991, 2],
        itemsTabletSmall: [568, 1],
        slideSpeed: 300,
        paginationSpeed: 400,
        pagination: false,
        navigation: true,
        navigationText: [
			"<i class='tg-prev fa fa-angle-left'></i>",
			"<i class='tg-next fa fa-angle-right'></i>"
        ]
    });
    /*--------------------------------------
			PRETTY PHOTO GALLERY
	--------------------------------------*/
    $("a[data-rel]").each(function () {
        $(this).attr("rel", $(this).data("rel"));
    });
    $("a[data-rel^='prettyPhoto']").prettyPhoto({
        animation_speed: 'normal',
        theme: 'dark_square',
        slideshow: 3000,
        autoplay_slideshow: false,
        social_tools: false,
        show_title: false  /* true/false */
    });

</script>

