 <footer id="footer" class="tg-haslayout">
    <div class="tg-threecolumn">
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <div class="tg-footercol">
                        <div id="address_widget-2" class="address-column tg-widget">
                            <strong class="logo">
                                <a class="" href="@Url.Action("Index","Home")"><img class="" src="~/Content/wp-content/themes/docdirect/images/logo.png" alt="DocDirect"></a>
                            </strong>
                            <div class="tg-description">
                                <p>Your practice made perfect.From attracting new patients to reducing no-shows, We helps you be the best doctor you can be.</p>
                            </div>
                            <ul class="tg-info">
                                <li>
                                    <i class="fa fa-home"></i>
                                    <address>6, MG Old Road, Pune, In,  411007</address>
                                </li>

                                <li>
                                    <i class="fa fa-envelope"></i>
                                    <em><a href="#">info@connect2Doctor.com</a></em>
                                </li>
                                <li>
                                    <i class="fa fa-phone"></i>
                                    <em><a href="tel:+917276385155">+917276385155</a></em>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="tg-footercol">
                        <div id="tg_featured_doctor-2" class="tg-featured-doctore tg-widget">
                            <div class="tg-heading-border tg-small">
                                <h4>Blogs</h4>
                            </div>
                            <ul>
                                <li>No blogs to show </li>
                            </ul>
                            @*<ul>
                <li>
                    <figure class="tg-imgdoc">
                        <img src="~/Content/wp-content/themes/docdirect/images/user150x150.jpg" alt="User">
                        <div class="tg-img-hover">
                            <a href="#"><i class="icon-zoom"></i></a>
                        </div>
                    </figure>
                    <div class="tg-docinfo">
                        <span class="tg-docname"><a href="#">alex alex</a></span>
                        <span class="tg-stars">
                            <em>Ranking:</em>
                            <span class="tg-stars star-rating">
                                <span style="width: 80%"></span>
                            </span>
                        </span>
                    </div>
                <li>
                    <figure class="tg-imgdoc">
                        <img src="~/Content/wp-content/uploads/2016/04/img-01-1-150x150.jpg" alt="User">
                        <div class="tg-img-hover">
                            <a href="#"><i class="icon-zoom"></i></a>
                        </div>
                    </figure>
                    <div class="tg-docinfo">
                        <span class="tg-docname"><a href="#">Dr Steve</a></span>
                        <span class="tg-stars">
                            <em>Ranking:</em>
                            <span class="tg-stars star-rating">
                                <span style="width:80%"></span>
                            </span>
                        </span>
                        <div class="tg-designation">
                            <p><a href="javascript:;">Doctor</a></p>
                        </div>
                    </div>
                </li>
            </ul>*@
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="tg-footercol">
                        <div id="nav_menu-2" class="widget_nav_menu tg-widget">
                            <div class="tg-heading-border tg-small"><h4>USEFUL LINKS</h4></div><div class="menu-userfull-links-container">
                                <ul id="menu-userfull-links" class="menu">
                                    <li id="menu-item-144" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-144"><a href="@Url.Action("Register","Account")">Register</a></li>
                                    <li id="menu-item-214" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-214"><a href="@Url.Action("Login","Account")">Login</a></li>
                                    <li id="menu-item-450" class="menu-item menu-item-type-post_type menu-item-object-post menu-item-450"><a href="@Url.Action("Search","Home")">Search</a></li> 
                                    <li id="menu-item-628" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-628"><a href="@Url.Action("About","Home")">About</a></li>
                                    <li id="menu-item-143" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-143"><a href="@Url.Action("Contact","Home")">Contact Us</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="tg-footerbar tg-haslayout">
        <div class="tg-copyrights">
            <p>@DateTime.Today.Year - All Rights Reserved &copy; DPTS</p>
        </div>
    </div>
</footer>
   
