 <header id="header" class="tg-haslayout tg-inner-header">
     <div class="doc-topbar doc-topbar-v1 doc-haslayout">
         <div class="container">
             <div class="row">
                 <div class="col-sm-12">
                     <span class="doc-contactweb"><p>Contact for any query: 1 - 12345 678 - 9 Or <a href="#">contact@dpts.com</a></p></span>
                     <div class="doc-languages">
                         <ul class="tg-socialicon">
                             <li>
                                 <a target="_blank" href="#">
                                     <i class="fa fa-facebook"></i>
                                 </a>
                             </li>
                             <li>
                                 <a target="_blank" href="#">
                                     <i class="fa fa-google-plus"></i>
                                 </a>
                             </li>
                             <li>
                                 <a target="_blank" href="#">
                                     <i class="fa fa-twitter"></i>
                                 </a>
                             </li>
                             <li>
                                 <a target="_blank" href="#">
                                     <i class="fa fa-linkedin"></i>
                                 </a>
                             </li>
                             <li>
                                 <a target="_blank" href="#">
                                     <i class="fa fa-instagram"></i>
                                 </a>
                             </li>

                         </ul>
                     </div>
                 </div>
             </div>
         </div>
     </div>
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="tg-navigationarea">
                            <strong class="logo">
                                <a class="" href="@Url.Action("Index","Home")"><img class="" src="~/Content/wp-content/themes/docdirect/images/logo.png" alt="DocDirect"></a>
                            </strong>
                            <nav id="tg-nav" class="tg-nav">
                                <div class="navbar-header">
                                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#tg-navigation" aria-expanded="false">
                                        <span class="sr-only">Toggle navigation</span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                    </button>
                                </div>
                                <div class="collapse navbar-collapse" id="tg-navigation">
                                    <ul id="menu-main-menu" class="">
                                        <li id="menu-item-654" class="menu-item menu-item-type-custom menu-item-object-custom current-menu-ancestor current-menu-parent menu-item-has-children menu-item-654">
                                            <a href="@Url.Action("Index","Home")">Home</a>
                                            @*<ul class="">
                                                <li id="menu-item-14" class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-2 current_page_item menu-item-14"><a href="index.html">Home 1</a></li>
                                                <li id="menu-item-151" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-151"><a href="home-2/index.html">Home 2</a></li>
                                                <li id="menu-item-639" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-639"><a href="home-3/index.html">Home 3</a></li>
                                            </ul>*@
                                        </li>
                                        <li id="menu-item-13" class="menu-item menu-item-type-custom menu-item-object-custom current-menu-ancestor current-menu-parent menu-item-has-children menu-item-13">
                                            <a href="@Url.Action("List","Blog")">Blogs</a>
                                        </li>
                                       
                                        <li id="menu-item-21" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-21"><a href="@Url.Action("About","Home")">About</a></li>
                                        <li id="menu-item-20" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-20"><a href="@Url.Action("Contact","Home")">Contact Us</a></li>
                                      

                                    </ul>
                                </div>
                            </nav>
                            @Html.Partial("_LoginPartial") 
                        </div>
                    </div>
                </div>
            </div>
        </header>


