@model BlogPostModel
@using DPTS.Web.Models
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@*@section left {
        @Html.Action("BlogMonths", "Blog")
        @Html.Action("BlogTags", "Blog")
    }*@

<main id="main" class="tg-page-wrapper tg-haslayout">
    <div class="container">
        <div class="row">
            <div id="tg-towcolumns" class="tg-haslayout">
                <div class="col-lg-9 col-md-9 col-sm-8 col-xs-12 pull-right">
                    <div id="tg-content" class="tg-content tg-post-detail tg-overflowhidden ">
                        <article class="tg-post tg-haslayout">
                            <ul class="tg-metadata">
                                <li><i class="fa fa-clock-o"></i><time>@Model.CreatedOn.ToString("D")</time> </li>
                                <li><i class="fa fa-comment-o"></i><a href="#"> 4 Comments</a></li>
                            </ul>
                            @if (Model.Tags.Count > 0)
                            {
                                <div class="tags">
                                    <ul class="tags">
                                        @for (int i = 0; i < Model.Tags.Count; i++)
                                        {
                                            var tag = Model.Tags[i];
                                            <li><a href="@Url.RouteUrl("BlogByTag", new {tag = tag})" class="tag">@tag</a></li>
                                        }
                                    </ul>
                                </div>
                            }
                            <div class="tg-post-data tg-haslayout">
                                <div class="tg-heading-border tg-small">
                                    <h2>@Model.Title</h2>
                                </div>
                                <div class="tg-description">
                                    @Html.Raw(HttpUtility.HtmlDecode(Model.Body));
                                </div>
                            </div>
                        </article>
                        @if (Model.AllowComments)
                        {
                            if (Model.Comments.Count > 0)
                            {
                            <div class="tg-haslayout" id="comments">
                                <div class="tg-heading-border tg-small">
                                    <h3>4 Comments</h3>
                                </div>
                                <ul>
                                    <!-- #comment-## -->
                                    @foreach (var comment in Model.Comments)
                                    {
                                      <li class="byuser -author-docdirect-admin bypostauthor even thread-odd thread-alt depth-1 -entry clearfix" id="comment-31">
                                        <div class="comment tg-border">
                                            <figure class="tg-author-img">
                                                <img alt="" src="https://secure.gravatar.com/avatar/79e16b06a4d7b956b1556086ba73012b?s=89&amp;d=mm&amp;r=g" srcset="https://secure.gravatar.com/avatar/79e16b06a4d7b956b1556086ba73012b?s=178&amp;d=mm&amp;r=g 2x" class="avatar avatar-89 photo" height="89" width="89">
                                            </figure>
                                            <div class="comment-box">
                                                <div class="comment-head">
                                                    <div class="pull-left">
                                                        <h3>@(comment.VisitorName)</h3>
                                                    </div>
                                                    @*<a rel="nofollow" class="tg-btn" href="https://themographics.com/wordpress/docdirect/family-clinic/?replytocom=31#respond" onclick="return addComment.moveForm( &quot;comment-31&quot;, &quot;31&quot;, &quot;respond&quot;, &quot;193&quot; )" aria-label="Reply to docdirect-admin">Reply</a>*@
                                                </div>
                                                <span>Posted on @comment.CreatedOn.ToString("g")</span>
                                                <div class="tg-description">
                                                    <p>@Html.Raw(comment.CommentText)</p>
                                                </div>
                                            </div>
                                        </div>
                                    </li><!-- #comment-## -->
                                    }
                                </ul>
                            </div>
                            }

                            var validationSummary = Html.ValidationSummary(true);
                            <div class="notifications">
                                @if (!MvcHtmlString.IsNullOrEmpty(validationSummary))
                                {
                                    <div class="message-error">@validationSummary</div>
                                }

                                @*@{
                                    var result = TempData["nop.blog.addcomment.result"] as string;
                                }
                                @if (!String.IsNullOrEmpty(result))
                                {
                                    <div class="result">@result</div>
                                }*@
                            </div>
                            <div class="tg-comment-formarea tg-haslayout">
                                <div class="row">
                                    <div id="respond" class="comment-respond">
                                        <div class="col-xs-12">
                                            <div class="tg-heading-border tg-small"><h3>Add Comments<a rel="nofollow" id="cancel-comment-reply-link" href="/wordpress/docdirect/family-clinic/#respond" style="display:none;">Cancel reply</a></h3></div>
                                        </div>
                                        @using (Html.BeginForm())
                                        {
                                            @Html.AntiForgeryToken()
                                            <div class="col-xs-12">
                                                <div class="form-group">
                                                    @Html.TextAreaFor(model => model.AddNewComment.CommentText, new { @class = "form-control", @placeholder = "Message" })
                                                    @*<textarea class="form-control" name="@Model.AddNewComment.CommentText" id="@Model.AddNewComment.CommentText" placeholder="Message" rows="4"></textarea>*@
                                                </div>
                                            </div>
                                            <div class="col-xs-12">
                                                <input name="submit" type="submit" id="tg-btn" class="tg-btn" value="Submit">
                                            </div>
                                        }
                                    </div><!-- #respond -->
                                </div>
                            </div>
                            }
                    </div>
                </div>

                <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12 aside sidebar-section pull-left" id="sidebar">
                    <aside id="tg-sidebar" class="tg-sidebar tg-haslayout">
                        <div id="categories-2" class="tg-widget widget_categories">
                            <h3>Categories</h3>		<ul>
                                <li class="cat-item cat-item-59">
                                    <a href="https://themographics.com/wordpress/docdirect/category/directory/">Directory</a>
                                </li>
                                @Html.Action("BlogMonths", "Blog")

                            </ul>
                        </div>
                        <div id="docdirect_recent_posts-2" class="tg-widget tg-widget-recentposts">
                            <h3>Recent Posts</h3>
                            <ul>
                                @Html.Action("BlogTags", "Blog")
                            </ul>
                        </div>

                    </aside>
                </div>
            </div>
        </div>
    </div>
</main>
