@model BlogPostListModel
@using DPTS.Web.Models
@{
   Layout = "~/Views/Shared/_Layout.cshtml";

}
@*@section left {
    @Html.Action("BlogMonths", "Blog")
    @Html.Action("BlogTags", "Blog")
}*@

<main id="main" class="tg-page-wrapper tg-haslayout">
    <div class="container">
        <div class="row">
            <div class="main-page-wrapper tg-haslayout">
                <div class="col-lg-9 col-md-8 col-sm-8 col-xs-12 pull-right  page-section">
                    <div class="row">
                        <div class="fw-page-builder-content">
                            <section class="tg-main-section haslayout  default">
                                <div class="builder-items">
                                    <div class="col-xs-12 col-md-12 builder-column ">
                                        <div class="sc-blogs">
                                            <div class="tg-view tg-blog-list">
                                                @foreach (var item in Model.BlogPosts)
                                                {
                                                    <article class="tg-post">
                                                        <div class="tg-box">
                                                            <ul class="tg-metadata">
                                                                <li><i class="fa fa-clock-o"></i><time>@item.CreatedOn.ToString("D")</time> </li>
                                                                <li><i class="fa fa-comment-o"></i><a href="#"> 4 Comments</a></li>
                                                            </ul>
                                                            <div class="tg-contentbox">
                                                                <div class="tg-displaytable">
                                                                    <div class="tg-displaytablecell">
                                                                        <div class="tg-heading-border tg-small">
                                                                            <h3><a href="@Url.Action("BlogPost","Blog",new { blogPostId = item.Id})">@item.Title </a></h3>
                                                                        </div>
                                                                        <div class="tg-description">
                                                                            @Html.Raw(!String.IsNullOrEmpty(item.BodyOverview) ? item.BodyOverview : item.Body)

                                                                            <div class="blog-details">
                                                                                @if (item.Tags.Count > 0)
                                                                                {
                                                                                    <div class="tags">
                                                                                        <ul class="tags">
                                                                                            @for (int i = 0; i < item.Tags.Count; i++)
                                                                                            {
                                                                                                var tag = item.Tags[i];
                                                                                                <li><a href="@Url.RouteUrl("BlogByTag", new {tag = tag})" class="tag">@tag</a></li>
                                                                                            }
                                                                                        </ul>
                                                                                    </div>
                                                                                }
                                                                                <div class="buttons">
                                                                                    @if (item.AllowComments)
                                                                                    {
                                                                                        @*<a href="@Url.Action("BlogPost", new {SeName = item.Id})#comments" class="read-comments">@string.Format("Blog.CommentsLink", item.NumberOfComments)</a>*@
                                                                                    }
                                                                                    @*<a href="@Url.RouteUrl("BlogPost", new {SeName = item.Id})" class="read-more">Blog.MoreInfo</a>*@
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <a href="@Url.Action("BlogPost","Blog",new { blogPostId = item.Id})"><span class="tg-show"><em class="icon-magnifier"></em></span></a>
                                                            </div>
                                                        </div>
                                                     </article>
                                                }
                                             
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12 aside sidebar-section pull-left" id="sidebar">
                    <aside id="tg-sidebar" class="tg-sidebar tg-haslayout">
                        <div id="categories-2" class="tg-widget widget_categories">
                            <h3>Blog archive</h3>
                            <ul>
                                @Html.Action("BlogMonths", "Blog")
                            </ul>
                        </div>
                        <div id="docdirect_recent_posts-2" class="tg-widget tg-widget-recentposts">
                            <h3>Popular blog tags</h3>
                            <ul>
                                @Html.Action("BlogTags", "Blog")
                            </ul>
                        </div>

                    </aside>
                </div>

            </div>
        </div>
    </div>
</main>
