@model AdminBlogPostModel
@using DPTS.Web.Models;
@{    
    //page title
    ViewBag.Title = "EditBlogPostDetails";
    //active menu item (system name)
    Layout = "~/Views/Shared/Admin_Layout.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="content-header clearfix">
        <h3 class="pull-left">
            Edit - @Model.Title
            <small><i class="fa fa-arrow-circle-left"></i>@Html.ActionLink("BackToList", "List")</small>
        </h3>
        <div class="pull-right">
            <button type="submit" name="save" class="btn bg-blue">
                <i class="fa fa-floppy-o"></i>
               Save
            </button>
            @*<button type="submit" name="save-continue" class="btn bg-blue">
                <i class="fa fa-floppy-o"></i>
                @T("Admin.Common.SaveContinue")
            </button>*@
            <span id="blogpost-delete" class="btn bg-red">
                <i class="fa fa-trash-o"></i>
                 Delete
            </span>
        </div>
    </div>
    @Html.Partial("_CreateOrUpdate", Model)
}
@*@Html.DeleteConfirmation("blogpost-delete")*@
