@model DPTS.Web.Models.ChangePasswordViewModel
@{
    ViewBag.Title = "Change Password";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<main id="main" class="tg-page-wrapper tg-haslayout">
    <div class="container">
        <div class="row">
            @Html.Partial("VisitorAccountNavigation")
            <div class="col-lg-9 col-md-9 col-sm-8 col-xs-12 pull-right">
                    @using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new { @class = "tg-formeditprofile tg-haslayout do-account-setitngs", role = "form" }))
                    {
                        @Html.ValidationSummary(false, "", new { @class = "text-danger" })
                    @Html.AntiForgeryToken()
                    <fieldset>
                        <div class="tg-bordertop tg-haslayout">
                            <div class="tg-formsection">
                                <div class="tg-heading-border tg-small">
                                    <h3>Change Password</h3>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.OldPassword)
                                            @Html.EditorFor(model => model.OldPassword, new { @class = "form-control" })
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.NewPassword)
                                            @Html.EditorFor(model => model.NewPassword, new { @class = "form-control" })
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.ConfirmPassword)
                                            @Html.EditorFor(model => model.ConfirmPassword, new { @class = "form-control" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button type="submit" class="tg-btn">update</button>
                    </fieldset>
                }
            </div>
        </div>
    </div>
</main>
